
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;1,600&display=swap');


.notvisible{
    display: none;
}

@media all and (min-width:320px) and (max-width:720px){

.notvisible{
    display: block;
    padding: 10px;
    padding-top: 100px;
}
.search{
    width: 80%;
    border: none;
    height: 20px;
    font-size: 18px;
}
.min_linkbox{
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.min_link{
    font-size: 20px;
    color: #303030;
    font-family: "Barlow Semi Condensed",sans-serif;
    line-height: 35px;
    text-decoration: none;
}
.min_btn2{
    width: 80%;
    font-size: 15px;
    padding: 20px;
    color: white;
    background-color: #303030;
    border: 2px solid #303030;
    font-weight: bold;
}
.min_btn1{
  width: 80%;
  font-size: 15px;
  padding: 20px;
  color: #303030;
  background-color: transparent;
  border: 2px solid #303030;
  margin-top: 20px;
  font-weight: bold;
}

}