
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;1,600&display=swap');


.notvisible{
    display: none;
}

@media all and (min-width:320px) and (max-width:720px){

.notvisible{
    display: block;
    background-color:white;
    position:static;
    margin-top: 65px;
    width: 100%;
     /* height: 100vh; */
    /* z-index: 99; */ 
}
.search_div{
    display:flex;
    gap:10px;
    padding-left: 10px;
    padding-top: 20px;
}
.search{
    width: 80%;
    border: none;
    height: 20px;
    font-size: 18px;
    outline-style: none;
    color: #303030;
}
.min_linkbox{
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.min_link{
    font-size: 20px;
    color: #303030;
    font-family: "Barlow Semi Condensed",sans-serif;
    line-height: 35px;
    text-decoration: none;
    width: fit-content;
}
.min_btn2{
    width: 100%;
    font-size: 15px;
    padding: 20px;
    color: white;
    background-color: #303030;
    border: 2px solid #303030;
    font-weight: bold;
}
.min_btn1{
  width: 100%;
  font-size: 15px;
  padding: 20px;
  color: #303030;
  background-color: transparent;
  border: 2px solid #303030;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 80px;
}
.min_btn2_2{
    width: 100%;
    font-size: 15px;
    padding: 20px;
    color: white;
    background-color: #0033ff;
    border: 2px solid #0033ff;
    font-weight: bold;
}
.min_btn1_2{
  width: 100%;
  font-size: 15px;
  padding: 20px;
  color: #0033ff;
  background-color: transparent;
  border: 2px solid #0033ff;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 80px;
}
.fit{
    width: 90%;
    margin: auto;
}
.minDrop_fixed{
    background-color: white;
    overflow-y: auto;
    scroll-behavior: auto;
    position: fixed;
    width: 100%;
    top:22%;
}

}