@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;1,600&display=swap');


.imgbox{
    width: 100%;
    height: 500px;
    grid-area: b;
}
.block{
    color: white;
    font-size: 70px;
    text-align: start;
    grid-area: a;
}

.absoliueblk{
    width:90%;
    color: white; 
    font-size: 20px;
    margin: auto;
    text-align: start;
    grid-area: c;
    margin-top: -60px;
}
.block p{
    width: 80%;
    margin-left: 70px;
    margin-top: 10px;
    font-family: "Barlow Semi Condensed",sans-serif;
}
.Imgimg{
    width:100%;
}
.bckcolor{
    background-color:#303030;
    height: 600px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    padding-top: 100px;
    grid-template-areas:  
     "a b b"
     "c b b"
    ;
}

.font1{
    margin: auto;
}
.Btn1{
    background-color: transparent;
    border: 3px solid #ffa1a1;
    padding: 25px;
    width: 350px;
    color: #ffa1a1;
    font-size: 16px;
}
.Btn1:hover{
    background-color: #ffa1a1;
    color: #303030;
    font-weight: bold;
}
.Btn2{
    background-color: transparent;
    border: 3px solid yellow;
    padding: 25px;
    width: 350px;
    color: yellow;
    font-size: 16px;
}
.Btn2:hover{
    background-color: yellow;
    color: #303030;
    font-weight: bold;
}
.Btn3{
    background-color: transparent;
    border: none;
    padding: 12px;
    width: 300px;
    color: blue;
    font-size: 16px;
}
.Btn3:hover{
    border: 3px solid blue;
}
.hideme{
    display: none;
}
.Box2{
    color: #303030;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 120px;
}
.Box2 h1{
    font-family: "Barlow Semi Condensed",sans-serif;
    font-size: 50px;
}
.Box2 p{
    color: gray;
}
.Flexbox{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
    gap: 20px;
}
.Flexbox div{
    background-color: #e7e2e2;
    text-align: left;
    padding: 10px;
    padding-bottom: 40px;
}
.Flexbox h2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 30px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Flexbox p{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    margin: auto;
    color: gray;
}
.Flexbox button{
    margin: auto;
    display: block;
    margin-top: 40px;
    border: none;
}
.director{
    margin-top: 40px;
    background-color: #e7e2e2;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 40px;
}
.dirctor p{
    font-size: 40px;
}
.card3{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
    margin: auto;
}
.cardofcard3{
    width: 35%;
    margin: auto;
    margin: 100px 50px;
    text-align: left;
}
.card3 h1{
    font-size: 50px;
    font-family: "Barlow Semi Condensed",sans-serif;
   
}
.cardofcard3 p{
    font-size: 20px;
    width: 60%;
    
}
.cardofcard3 button{
    display: block;
    background-color: transparent;
    border: 2px solid white;
    padding: 20px;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.cardofcard3 button:hover{
    background-color: white;
    color: blue;
}
.flexme{
    width: 90%;
    display: flex;
     gap:10px;
     margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}
.flex_img{
    width: 100%;
}
.flexme_div{
    width: 100%;
    margin: auto;
    font-family: "Barlow Semi Condensed",sans-serif;
}
.flexme_div div:first-child{
    display: flex;
    justify-content: center;
    gap:10px;
    padding-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #303030;
}
.flexme_div div:first-child p{
     font-size: 30px;
     color: blue;
     width: 75%;
     margin-left: 0px;
     margin-top: 20px;
}

.flexme_div p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    text-align: left;
}
.linkstyle{
  color: #0033ff;
  font-size: 22px;
  width: 60%;
  margin: auto;
  text-align: left;
  margin-top: 20px;
}







@media all and (min-width:320px) and (max-width:720px){
    .imgbox{
      display: none;
    }
    .Imgimg{
        width: 60%;
    }
    .absoliueblk{
       display: none;
    }
    .grid{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
    .block{
        color: white;
        width: 80%;
        font-size: 40px;
        margin: auto;
        margin-top: 10px;
    }
    .block p{
        width: 90%;
        margin-left: 0px;
    }
    .hideme{
        display: block;
      
    }
    
    .extra{
    width:100%;
    color: white;
    font-size: 18px;
    background-color: #303030;
    padding-top: 20px;
    }
    .extra p {
        width: 70%;
       margin: auto;
       margin-bottom: 20px;
       font-size: 15px;
    }
    .Btn1{
        margin-top: 10px;
    }
    .Btn2{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .Box2{
        margin-top: 300px;
        width: 90%;
    }
    .Box2 h1{
        font-size: 50px;
        text-align: start;
    }
    .Flexbox{
        flex-direction: column;
    }
    .Flexbox p{
        width: 100%;
    }
    .Flexbox button{
       width: 90%;
    }
    .BBox2{
        margin-top: 0px;
    }
    .card3{
      flex-direction: column;
      text-align: center;
     padding-top: 50px;
     padding-bottom: 50px;
    }
    .cardofcard3{
        margin: auto;
        width: 80%;
        text-align: center;
    }
    .card3 h1{
        font-size: 25px;
        font-family: "Barlow Semi Condensed",sans-serif;
    }
    .cardofcard3 p{
        font-size: 14px;
        width: 60%;
        margin: auto;
    }
    .cardofcard3 button{
        display: block;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        margin-bottom: 30px;
    }
    .Btn1{
        width: 70%;
    }
    .Btn2{
        width: 70%;
    }
   .Box2{
    padding-top: 20px;
   }
   .flexme{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    }
  .linkstyle{
    font-size: 18px;
  }
}