
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;1,600&display=swap');

.div_hide{
   display: none; 
}
.tag{
    background-color: rgb(95, 95, 238);
    color: white;
    font-size: 12px;
    border-radius: 5px;
    height: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
.divstyle{
    border: 1px solid #3f65ff;
    color: #3f65ff;
    text-align: start;
    padding-left: 10px;
    font-size: 20px;
}
.divstyle:hover{
    background-color: #3f65ff;
    color: white;
}
.links{
    color: #3f65ff;
}
.links:hover{
    color: rgb(82, 82, 231);
}
.box{
    width: 350px;
    text-align: start;
    margin: auto;
}
.font{
    font-size: 80px;
    margin: auto;
    font-family: "Barlow Semi Condensed",sans-serif;
    color: #303030;
    width: 75%;
    padding-top: 200px;
    padding-bottom: 100px;
}
.ffamily{
    font-family: "Barlow Semi Condensed",sans-serif;
    color: #303030;
}
.box2{
    margin-left: 10px;
    margin-top: 50px;
    
}
.text{
  text-decoration: none;
}

.flex{
    display: flex;
    justify-content: center;
}
.flex2{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}
.flex3{
    display: flex;
    justify-content: space-evenly;
}
.img{
    width:100%;
}
.img2{
    margin-top: -100px;
}
.div2{
    width: 170px;
}
.offers{
    text-align: start;
    padding: 20PX;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}
.btn1{
  display: block;
  margin: auto;
  margin-top: 30px;
  background-color: blue;
  color: white;
  border: none;
  height: 50px;
  width: 220px;
  font-size: 15px;
  font-weight: bold;
}
.btn1:hover{
    background-color: #3f65ff;
}
.box3{
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #303030;
   margin-top: 60px;
}

.btn2{
  display: block;
  margin: auto;
  margin-top: 30px;
  background-color:#ffa1a1;
  color: rgb(17, 16, 16);
  border: none;
  height: 50px;
  width: 220px;
  font-size: 15px;
  font-weight: bold;
}
.popup{
    color:green;
    background-color: #c9f09c;
    text-align: center;
}
.pop{
    width: 50%;
    position: absolute;
    top:50px
}
.set{
    width:50%;
    text-align: center;
    margin: auto;
    color: white;
    margin-bottom: 25px;
}
.img_flex{
   display: flex;
   justify-content: space-between;
   width: 70%;
   margin: auto;
   margin-top: 20px;
}
.box4{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 50%;
}
.input_box{
    width: 55%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
}
.input{
    width: 100%;
    height: 30px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border-color:gray;
}







@media all and (min-width:320px) and (max-width:720px){
.font{
    font-size: 40px;
    margin: auto;
    padding-top: 130px;
    text-align: start;
    width: 70%;
    padding-bottom: 20px;
}
.flex2{
    flex-direction: column;
   
}
.div2{
   display: none;
}
.pic{
    width: 170px;
    margin-top: -30px;
}
.div_hide{
 display: block;
 
}
.box2{
    margin-top: 25px;
}
.btn1{
    width: 95%;
}
.btn2{
    width: 95%;
}
.set{
    width:70%;
    text-align: center;
    margin: auto;
    color: white;
    margin-bottom: 0px;
}
.img_flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
 }
 .off_img{
    display: none;
 }
 .signin{
 width: 90%;
 margin: auto;
 }
 .pop{
    width: 100%;
    left: 0px;
    position: fixed;
 }

}
