.product{
    background-color: blueviolet;
}
 .navstyle{
    width:100%;
    height:50px;
    display:flex;
    background-color:#303030;
    padding-top:10px;
    padding-bottom:10px;
    gap:30px;
    align-items: center;
    position: fixed;

}

.flexdis{
    display: flex;
    justify-content: center;
    align-items: center;
}
.xyz {
    width:150px;
    margin-left:10%;
}
 .iconbox {
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin:auto;
    gap:16px;
    margin-right:50px;
   }

 .btnstyle1{
    margin:auto;
    width:80px;
    height:40px;
    font-size:15px;
    font-weight:bolder;
    background-color:#303030;
    border:2px solid white;
    color:white;
}
 .btnstyle2{
    margin:auto;
    height:40px;
    font-size:15px;
    font-weight:bolder;
    background-color:white;
    border:2px solid white;
    border-radius:2px;
    color:#303030;
}
.hidecomp{ 
    display: none;
}


.navLink{
  color: white;
  font-size: 18px;
  display: flex;
  gap:20px;
  text-decoration: none;
}
.navLink2{
    color: white;
    font-size: 18px;
    display: flex;
    text-decoration: none;
}
.navLink>p{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.display-product{
 position: absolute;
 background-color: white;
 border: none;
 width: 80%;
 left: 10%;
 top:60px;
}

.display-pro{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: #303030;
    
}
.DDlink{
    margin-top:10px;
    font-size:16px;
    text-decoration:none;
    color: #303030;
}
.DDlink:hover{
    color: blue;
}
.linksol{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    color: #303030;
}
.linksol:hover{
    color: blue;
}
.display-pro div{
 width: 320px; 
}
.display-solution{
    position: absolute;
    border: none;
   width: 70%;
   display: flex;
   justify-content:space-around ;
  text-align: start;
  padding: 20px;
  background-color:white;
}
.display-sol{
position: absolute;
 border: none;
 width: 50%;
 left: 20%;
 top:60px;
 color: #303030;
}

.display-learn{
    position: absolute;
    background-color: rgb(163, 46, 46);
    border: none;
    width: 80%;
    left: 10%;
    top:60px;
   }






@media all and (min-width:320px) and (max-width:720px){

    .iconbox {
       display: none;
       }
    .hide{
        display: none;
    } 
    
    .iconbox2{
        display:flex;
        color:white;
        margin:auto;
        gap:16px;
        margin-right:20px;
    }


}









